<html>
    <head>
		<title>
			IMDb Transaction Management
		</title>
		<link href='css/style.css' rel='stylesheet' type='text/css' />
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css' />

		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
		<script type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js'></script>

		<script src='/js/home.js'></script>
	</head>

    <body style="background-color:#F1F3F4;">
		<div class = "header"> 
        	<h1 style="margin-left: 50px;">IMDb Transaction Management</h1>
			<div class = "tabs">
				<a href="/" class = "function">Movies</a>
				<a href ="/insertPage" id = "currentPage" class = "function">Insert</a>
				<a href="/updatePage" class = "function">Update</a>
                <a href="/searchPage" class = "function">Search</a>
			</div>
		</div>

		<div class = "inputTable">
			<form method="GET" id="my_form" action = "/insertRecord">
			<table>
				<tr>
					<td>
						<!-- <label for='title'>  Title </label> -->
						<p class="inputTitle">Title</p>
						<input type="text" id="movietitle" name="movie" form="my_form" placeholder="Movie Title"/>
					</td>

					<td>
						<p class="inputTitle">Director</p>
						<input type="text" id="director" name="director" form="my_form" placeholder="Director"/>
					</td>
				</tr>
				<tr>
					<td>
						<p class="inputTitle">Year</p>
						<input type="number" id="year" name="year" form="my_form" placeholder="Year"/>
					</td>

					<td>
						<p class="inputTitle">Actor 1</p>
						<input type="text" id="actor1" name="actor1" form="my_form" placeholder="Actor 1"/>
					</td>

				</tr>
				<tr>
					<td>
						<p class="inputTitle">Genre</p>
						<input type="text" id="genre" name="genre" form="my_form" placeholder="Genre"/>
					</td>

					<td>
						<p class="inputTitle">Actor 2</p>
						<input type="text" id="actor2" name="actor2" form="my_form" placeholder="Actor 2"/>
					</td>
				</tr>
			</table>
			<div class="actions">
				<input type='button' id='clear' onclick = "clearInsertInputs()" value='Clear'/>
				<input type='submit' id='insert-entry-btn' class='btn btn-primary' value='Insert' />
			</div>
		</form>

		<!-- 
		{{#each records}}
		<div class = "newInsert">
			<p> {{ this.id }} </p>
			<p> {{ this.title }} </p>
			<p> {{ this.year }} </p>
			<p> {{ this.genre }} </p>
			<p> {{ this.director }} </p>
			<p> {{ this.actor1 }} </p>
			<p> {{ this.actor2 }} </p>
		</div>
		{{/each}}
		</div>
		-->

		<table class = "recordMessage">
			<tr class = "recordMessage">
				<th class = "recordMessage" id = "rec">id</th>
				<th class = "recordMessage" id = "rec">title</th>
				<th class = "recordMessage" id = "rec">year</th>
				<th class = "recordMessage" id = "rec">genre</th>
				<th class = "recordMessage" id = "rec">director</th>
				<th class = "recordMessage" id = "rec">actor1</th>
				<th class = "recordMessage" id = "rec">actor2</th>
			</tr>
			{{#each records}}
				<tr class = "recordMessage">
					<td class = "recordMessage" id = "rec"> {{this.id}} </td>
					<td class = "recordMessage" id = "rec"> {{this.title}} </td>
					<td class = "recordMessage" id = "rec"> {{this.year}} </td>
					<td class = "recordMessage" id = "rec"> {{this.genre}} </td>
					<td class = "recordMessage" id = "rec"> {{this.director}} </td>
					<td class = "recordMessage" id = "rec"> {{this.actor1}} </td>
					<td class = "recordMessage" id = "rec"> {{this.actor2}} </td>
				</tr>
			{{/each}}
		</table>

    </body>
</html>