<html>
    <head>
		<title>
			IMDb Transaction Management
		</title>
		<link href='/css/style.css' rel='stylesheet' type='text/css' />
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css' />

		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
		<script type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js'></script>

		<script src='/js/home.js'></script>
	</head>

    <body style="background-color:#F1F3F4;">
		<div class = "header"> 
        	<h1 style="margin-left: 50px;">IMDb Transaction Management</h1>
			<div class = "tabs">
				<a href="/getReport" class = "function">Movies</a>
				<a href ="/insertPage"  class = "function">Insert</a>
				<a href="/updatePage" class = "function">Update</a>
				<a href="/searchPage" id = "currentPage" class = "function">Search</a>
			</div>
		</div>        
    
    <div class = "inputTable">
        <div class="search-container">
            <!-- search page  /action_page.php-->
            <form method="GET" action="/searchRecord">
                <input type="text" placeholder="Search by ID, Movie, Director, Actor.." name="search">
                <input type='submit' id='search-btn' class='btn btn-primary' value='Search' />
            </form>
        </div>

        <div class='results-div'>
			<table class='results-table'>
				<thead>
					<tr>
						<th class = "recordMessage" id = "rec">
							ID
						</th>
						<th class = "recordMessage" id = "rec">
							Title
						</th>
						<th class = "recordMessage" id = "rec">
							Year
						</th>
						<th class = "recordMessage" id = "rec">
							Genre
						</th>
						<th class = "recordMessage" id = "rec">
							Director
						</th>
						<th class = "recordMessage" id = "rec">
							Actor 1
						</th>
						<th class = "recordMessage" id = "rec">
							Actor 2
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each result}}
						<tr>
							<td class = "recordMessage" id = "rec">
								{{this.id}}
							</td>
							<td class = "recordMessage" id = "rec">
								{{this.name}}
							</td>
							<td class = "recordMessage" id = "rec">
								{{this.year}}
							</td>
							<td class = "recordMessage" id = "rec">
								{{this.genre}}
							</td>
							<td class = "recordMessage" id = "rec">
								{{this.director}}
							</td>
							<td class = "recordMessage" id = "rec">
								{{this.actor1}}
							</td>
							<td class = "recordMessage" id = "rec">
								{{this.actor2}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
	</div>
    
        
        
    </body>
</html>
